.grid {
    display: flex;
}

.ingredient-group {
    flex: 50%;
}

.validationError {
    color: red;
    font-style: italic;
}

.ajaxLink {
    cursor: pointer;
    color: #89ba16;
    text-decoration: underline;
    margin: 5px;
}

.ajaxLink:hover {
    text-decoration: none;
}

.currentLink {
    text-decoration: none;
}

#donatePanel, #donateMsg, #joinPanel, #joinMsg {
    display: none;
}

.link {
    cursor: pointer;
}

.companyImg{
    width: 300px;
    height: auto;
}