<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>The Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/choice.ico}">

    <link rel="stylesheet" th:href="@{/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/fonts/line-icons/style.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body id="top">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <div th:replace="baseFragment::header"></div>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/start.jpg');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">О нас</h1>
                    <div class="custom-breadcrumbs">
                        <a th:href="@{/}">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>About Us</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="accordion">
        <div class="container">
            <div class="row accordion justify-content-center block__76208">
                <div class="col-lg-6">
                    <img th:src="@{images/about.jpg}" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-lg-5 ml-auto">
                    <div class="accordion-item">
                        <h3 class="mb-0 heading">
                            <a class="btn-block h4" data-toggle="collapse" href="#collapseFive" role="button"
                               aria-expanded="true" aria-controls="collapseFive">Что такое платформа ВЫБОР?<span
                                    class="icon"></span></a>
                        </h3>
                        <div id="collapseFive" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="body-text">
                                <p>ВЫБОР – это веб-платформа, где граждане создают компании и
                                    собирают подписи в поддержку тех инициатив, которые действительно важны для них.
                                    Главная цель проекта - донести до законодателей наши пожелания и беспокойства по
                                    тем вопросам, внимание к которым недостаточно. Но для нас они важны.</p>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                    <div class="accordion-item">
                        <h3 class="mb-0 heading">
                            <a class="btn-block h4" data-toggle="collapse" href="#collapseSix" role="button"
                               aria-expanded="false" aria-controls="collapseSix">Платформа ВЫБОР платная?<span
                                    class="icon"></span></a>
                        </h3>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="body-text">
                                <p>Платформа ВЫБОР не взимает плату за открытие компаний и участие в них! Наша цель -
                                    создание плащадки для диалога и выражения мнения. Вместе мы сможем все двигаться
                                    вперед!</p>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                    <div class="accordion-item">
                        <h3 class="mb-0 heading">
                            <a class="btn-block h4" data-toggle="collapse" href="#collapseSeven" role="button"
                               aria-expanded="false" aria-controls="collapseSeven">Мне необходимо регистрироваться?
                                <span
                                        class="icon"></span></a>
                        </h3>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="body-text">
                                <p>Для участия в созданных компаниях и их поддержке регистрация не требуется. Однако
                                    для создания собственных инициатив и вступления в команду требуется
                                    зарегистрироваться.</p>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <div th:replace="baseFragment::footer"></div>

</div>

<!-- SCRIPTS -->
<div th:replace="baseFragment::scripts"></div>

</body>
</html>