<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>The Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/choice.ico}">

    <link rel="stylesheet" th:href="@{/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/fonts/line-icons/style.css}">


    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body id="top">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <div th:replace="baseFragment::header"></div>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             th:style="'background-image: url(' + @{/images/start.jpg} + ');'"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Новая Компания</h1>
                    <div class="custom-breadcrumbs">
                        <a th:href="@{/}">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Начать новую компанию</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-5">
                    <h2 class="mb-4">Зарегистрировать Вашу Инициативу</h2>
                    <div class="validationError" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                    <form id="formId" method="post" th:action="@{/addCompany}" th:object="${companyDto}"
                          class="p-4 border rounded">

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="imgSelector">Загрузка изображения</label><br>
                                <img id="imgCompany" th:src="@{/images/no_photo.png}" class="companyImg"
                                     align="center"/><br>
                                <label class="btn btn-primary btn-md btn-file"
                                       onclick="document.querySelector('#imgSelector').click()">
                                    Выберите файл
                                </label>
                                <input id="imgSelector" style="visibility: collapse; width: 0px;" type="file"
                                       onchange="upload(this.files[0])">
                                <input type="text" id="imgUrl" th:field="*{imgUrl}" name="imgUrl"
                                       style="visibility: collapse; width: 0px;">
                                <a id="link">Ваша ссылка</a>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="name">Название компании</label>
                                <p class="validationError"
                                   th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}">Name error</p>
                                <input type="text" id="name" th:field="*{name}" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="description">Краткое описание компании</label>
                                <p class="validationError"
                                   th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}">Description error</p>
                                <textarea id="description" name="description" form="formId" th:field="*{description}"
                                          class="form-control editor"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="duration">Продолжительность компании (дней)</label>
                                <p class="validationError"
                                   th:if="${#fields.hasErrors('duration')}"
                                   th:errors="*{duration}">Duration error</p>
                                <input type="number" id="duration" th:field="*{duration}" name="duration" min="1"
                                       value="1" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Начать компанию" class="btn px-4 btn-primary text-white">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <div th:replace="baseFragment::footer"></div>

</div>

<!-- SCRIPTS -->
<div th:replace="baseFragment::scripts"></div>

<script>
    window.ondragover = function (e) {
        e.preventDefault()
    }
    window.ondrop = function (e) {
        e.preventDefault();
        upload(e.dataTransfer.files[0]);
    }

    function upload(file) {
        if (!file || !file.type.match(/image.*/)) return;
        document.body.className = "uploading";
        var fd = new FormData();
        fd.append("image", file);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://api.imageban.ru/v1");
        xhr.onload = function () {
            document.querySelector("#link").href = JSON.parse(xhr.responseText).data.link;
            document.querySelector("#imgCompany").src = JSON.parse(xhr.responseText).data.link;
            $("#imgUrl").val(JSON.parse(xhr.responseText).data.link);
        }
        xhr.setRequestHeader('Authorization', 'TOKEN O0qeUu6VdGF3q4hDltsI');
        xhr.send(fd);
    }
</script>

</body>
</html>