<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>The Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/choice.ico}">

    <link rel="stylesheet" th:href="@{/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/fonts/line-icons/style.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body id="top">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <div th:replace="baseFragment::header"></div>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/start.jpg');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Контакты</h1>
                    <div class="custom-breadcrumbs">
                        <a th:href="@{/}">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Contact</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="next-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <form method="post" th:action="@{/contact}" th:object="${mailDto}" class="">

                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label class="text-black" for="firstName">Имя</label>
                                <p class="validationError"
                                   th:if="${#fields.hasErrors('firstName')}"
                                   th:errors="*{firstName}">First name error</p>
                                <input type="text" id="firstName" name="firstName" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="text-black" for="lastName">Фамилия</label>
                                <p class="validationError"
                                   th:if="${#fields.hasErrors('lastName')}"
                                   th:errors="*{lastName}">Last name error</p>
                                <input type="text" id="lastName" name="lastName" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                <p class="validationError"
                                   th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}">Email error</p>
                                <input type="email" id="email" name="email" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="subject">Тема</label>
                                <p class="validationError"
                                   th:if="${#fields.hasErrors('subject')}"
                                   th:errors="*{subject}">Subject error</p>
                                <input type="text" id="subject" name="subject" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="content">Текст сообщения</label>
                                <p class="validationError"
                                   th:if="${#fields.hasErrors('content')}"
                                   th:errors="*{content}">Content error</p>
                                <textarea name="content" id="content" cols="30" rows="7" class="form-control"
                                          placeholder="Напишите Ваше сообщение здесь..."></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Отправить" class="btn btn-primary btn-md text-white">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-lg-5 ml-auto">
                    <div class="p-4 mb-3 bg-white">
                        <p class="mb-0 font-weight-bold">Адрес</p>
                        <p class="mb-4">ул. Амураторская, 4, Минск, Беларусь</p>

                        <p class="mb-0 font-weight-bold">Телефон</p>
                        <p class="mb-4"><a href="#">+375 (29) 661-75-00</a></p>

                        <p class="mb-0 font-weight-bold">Email</p>
                        <p class="mb-0"><a href="#">Zharkevich1.19@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <div th:replace="baseFragment::footer"></div>

</div>

<!-- SCRIPTS -->
<div th:replace="baseFragment::scripts"></div>

</body>
</html>