<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>The Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/fonts/line-icons/style.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <div th:replace="baseFragment::header"></div>

    <!-- HOME -->
    <section class="home-section section-hero overlay bg-image"
             th:style="'background-image: url(' + @{/images/start.jpg} + ');'"
             id="home-section">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center">
                        <h1 class="text-white font-weight-bold">Ваш голос может изменить мир!</h1>
                        <p>Отдайте Ваш голос за действительно важные вещи и помогите сделать жизнь лучше.</p>
                    </div>
                </div>
            </div>
        </div>

        <a href="#next" class="scroll-button smoothscroll">
            <span class=" icon-keyboard_arrow_down"></span>
        </a>

    </section>

    <section class="py-5 bg-image overlay-primary fixed overlay" id="next"
             style="background-image: url('images/start.jpg');">
        <div class="container">
            <div class="row pb-0 block__19738 section-counter justify-content-center">
                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">

                        <!--доработать-->
                        <strong class="number" data-number="10240">0</strong>
                    </div>
                    <span class="caption">Активных компаний</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <!--доработать-->
                        <strong class="number" data-number="54">0</strong>
                    </div>
                    <span class="caption">Подано заявок</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <!--доработать-->
                        <strong class="number" data-number="120">0</strong>
                    </div>
                    <span class="caption">Выполнено заявок</span>
                </div>

            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Активные компании</h2>
                </div>
            </div>
            <div id="container" class="mb-5">
                <div th:each="company:${companyPage.content}"
                     class="row align-items-center job-item border-bottom pb-3 mb-3 pt-3">
                    <div class="col-md-2">
                        <img align="center" width="100" height="100" th:src="@{${company.imgUrl}}" alt="Image"
                             class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <h4><a th:href="@{'/companies/' + ${company.id}}" href="job-single.html"
                               th:text="${company.name}"></a></h4>
                        <p class="meta">Организатор: <strong th:text="${company.owner.login}"></strong> In: <strong>Design</strong>
                        </p>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <span class="meta">Окончание</span>
                        <h4 th:text="${company.daysLeft()} + ' дн.'"></h4>
                    </div>
                </div>
            </div>

            <div th:if="${companyPage.totalPages > 0}" class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        <div class="d-inline-block">
                            <span th:each="pageNumber: ${pageNumbers}"
                                  th:text="${pageNumber}"
                                  th:data-page="${pageNumber}"
                                  th:onclick="'loadCompanies(\'' + ${pageNumber} + '\');' "
                                  th:class="ajaxLink"
                                  th:classappend="${pageNumber==companyPage.number + 1} ? currentLink">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/start.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="text-white">Хотите изменений?</h2>
                    <p class="mb-0 text-white lead">Запустите свою компанию в поддержку Вашей инициативы.</p>
                </div>
                <div class="col-md-3 ml-auto">
                    <a th:href="@{/addCompany}" href="#" class="btn btn-warning btn-block btn-lg">Создать компанию</a>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <div th:replace="baseFragment::footer"></div>

</div>

<!-- SCRIPTS -->
<div th:replace="baseFragment::scripts"></div>

<script th:src="@{/js/companiesPageFunctions.js}"></script>

</body>
</html>