<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>The Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/choice.ico}">

    <link rel="stylesheet" th:href="@{/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/fonts/line-icons/style.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body id="top">


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <div th:replace="baseFragment::header"></div>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             th:style="'background-image: url(' + @{/images/start.jpg} + ');'"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold" th:text="${user.login}">Login</h1>
                    <div class="custom-breadcrumbs">
                        <a th:href="@{/}">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Profile</strong></span><span class="mx-2 slash">/</span>
                        <span class="text-white"><strong th:text="${user.login}"></strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-light p-3 border rounded mb-4">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Профиль</h3>
                        <ul class="list-unstyled pl-3 mb-0">
                            <li class="mb-2"><strong class="text-black">Имя: </strong> [[${user.contact.firstname}]]
                            </li>
                            <li class="mb-2"><strong class="text-black">Фамилия: </strong> [[${user.contact.lastname}]]
                            </li>
                            <li class="mb-2"><strong class="text-black">Телефон: </strong>
                                [[${user.contact.phoneNumber}]]
                            </li>
                            <li class="mb-2"><strong class="text-black">Эл. адрес: </strong> [[${user.email}]]</li>
                            <li class="mb-2"><strong class="text-black">Зарегистрировался: </strong>
                                [[${#temporals.format(user.createdAt, 'd MMMM yyyy')}]]
                            </li>
                            <li class="mb-2"><a href="#" style="color: red">Редактировать</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-3">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Ваши компании</h2>
                </div>
            </div>

            <div th:if="${createdCompanies.size()>0}" class="mb-5">
                <div th:each="company:${createdCompanies}"
                     class="row align-items-center job-item border-bottom pb-3 mb-3 pt-3">
                    <div class="col-md-2">
                        <img align="center" width="100" height="100" th:src="@{${company.imgUrl}}" alt="Image"
                             class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <h4><a th:href="@{'/companies/' + ${company.id}}" href="#"
                               th:text="${company.name}"></a></h4>
                        <p class="meta">Организатор: <strong th:text="${company.owner.login}"></strong></p>
                    </div>
                    <div th:if="${!company.isClosed()}" class="col-md-3 text-md-right">
                        <span class="meta">Окончание компании через</span>
                        <h4 th:text="${company.daysLeft()} + ' дн.'"></h4>
                    </div>
                    <div th:if="${company.isClosed()}" class="col-md-3 text-md-right">
                        <span class="meta">Компания завершена</span>
                        <h4 th:text="${#temporals.format(company.endDate, 'd MMMM yyyy')}"></h4>
                    </div>
                </div>
            </div>
            <div th:if="${createdCompanies.size()==0}" class="mb-5">
                <div class="row align-items-center job-item border-bottom pb-3 mb-3 pt-3">
                    <h4>У Вас нет созданных компаний. <a th:href="@{/addCompany}">Создать?</a></h4>
                </div>
            </div>
        </div>

    </section>


    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/start.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="text-white">Заявки в обработке</h2>
                    <p class="mb-0 text-white lead">Выберите компанию для отображения заявок в обработке.</p>
                </div>
                <div th:if="${joinedCompanies.size()==0}" class="col-md-5 ml-auto">
                    <h6 class="text-white text-warning text-right">Вы не присоединились ни к одной компании</h6>
                </div>
                <div th:if="${joinedCompanies.size()>0}" class="col-md-5 ml-auto">
                    <select id="selectId" class="selectpicker text-right" data-style="btn-white btn-lg text-white" data-width="100%"
                            data-live-search="true" title="Выберите...">
                        <option th:each="company: ${joinedCompanies}"
                                th:value="${company.id}" th:text="${company.name}">name
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Заявки в обработке</h2>
                </div>
            </div>

            <div id="companyRequests" class="mb-5">
                <div th:each="request: ${allActiveRequests}"
                     class="row align-items-center job-item border-bottom pb-3 mb-3 pt-3">
                    <div class="col-md-1">
                        <img align="center" width="50" height="50" th:src="@{/images/request.jpg}" alt="Image"
                             class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <h5>[[${request.contact.streetAddress}]]</h5>
                        <p class="meta"><strong>[[${request.contact.city}]]</strong></p>
                    </div>
                    <div class="col-md-4">
                        <p class="meta"><span class="icon-room"></span>[[${request.contact.region}]] область,
                            [[${request.contact.district}]] район</p>
                    </div>
                    <div class="col-md-3 text-md-left">
                        <p><span class="meta link" style="color: blue!important">Отметить как выполненное</span></p>
                        <p><span class="meta link" style="color: red!important">Отказаться</span></p>
                    </div>
                </div>
            </div>

<!--            <div th:if="${pageNumbers.size() > 0}" class="row pagination-wrap">-->
<!--                <div class="col-md-6 text-center text-md-right">-->
<!--                    <div class="custom-pagination ml-auto">-->
<!--                        <div id="pages" class="d-inline-block">-->
<!--                            <span th:each="pageNumber: ${pageNumbers}"-->
<!--                                  th:text="${pageNumber}"-->
<!--                                  th:data-page="${pageNumber}"-->
<!--                                  th:onclick="'loadRequests(\'' + ${company.id} + '\', \'' + ${pageNumber} + '\', \'' + ${pageNumbers.size()} + '\');' "-->
<!--                                  th:class="ajaxLink"-->
<!--                                  th:classappend="${pageNumber== 1} ? currentLink">-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </section>

    <!-- FOOTER -->
    <div th:replace="baseFragment::footer"></div>

</div>

<!-- SCRIPTS -->
<div th:replace="baseFragment::scripts"></div>
<script th:src="@{/js/profileFunctions.js}"></script>

</body>
</html>