<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Register</h1>
<form method="post" th:action="@{/register}" th:object="${regForm}">
    <h3>Registration info</h3>
    <label for="login">Логин: </label>
    <input type="text" id="login" th:field="*{login}" placeholder="Your login"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('login')}"
          th:errors="*{login}">Login error</span>
    <br/>

    <label for="password">Пароль: </label>
    <input type="password" id="password" th:field="*{password}" placeholder="Your password"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Password error</span>
    <br/>

    <label for="email">Email: </label>
    <input type="email" id="email" th:field="*{email}" placeholder="Your email"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}">Email error</span>
    <br/>
    <br/>

    <h3>Contact info</h3>
    <label for="firstname">Имя: </label>
    <input type="text" id="firstname" th:field="*{firstname}" placeholder="Дмитрий"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('firstname')}"
          th:errors="*{firstname}">First name error</span>
    <br/>

    <label for="lastname">Фамилия: </label>
    <input type="text" id="lastname" th:field="*{lastname}" placeholder="Милославский"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('lastname')}"
          th:errors="*{lastname}">Last name error</span>
    <br/>

    <label for="region">Область: </label>
    <input type="text" id="region" th:field="*{region}" placeholder="Гродненская"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('region')}"
          th:errors="*{region}">Region error</span>
    <br/>

    <label for="district">Район: </label>
    <input type="text" id="district" th:field="*{district}" placeholder="Несвижский"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('district')}"
          th:errors="*{district}">District error</span>
    <br/>

    <label for="city">Город: </label>
    <input type="text" id="city" th:field="*{city}" placeholder="Минск"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}">City error</span>
    <br/>

    <label for="streetAddress">Улица и номер дома: </label>
    <input type="text" id="streetAddress" th:field="*{streetAddress}" placeholder="Ленина 11"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('streetAddress')}"
          th:errors="*{streetAddress}">Street and building number error</span>
    <br/>

    <label for="phone">Телефон: </label>
    <input type="text" id="phone" th:field="*{phoneNumber}" placeholder="+375441112233"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('phoneNumber')}"
          th:errors="*{phoneNumber}">Street and building number error</span>
    <br/>

    <input type="submit" value="Зарегистрироваться"/>
</form>
</body>
</html>