<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>The Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/choice.ico}">

    <link rel="stylesheet" th:href="@{/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/fonts/line-icons/style.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body id="top">


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <div th:replace="baseFragment::header"></div>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             th:style="'background-image: url(' + @{/images/start.jpg} + ');'"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-breadcrumbs mb-0">
                        <span class="slash">Организатор </span> [[${company.owner.login}]]</a>
                        <span class="mx-2 slash">&bullet;</span>
                        <span class="text-white"><strong
                                th:text="${#temporals.format(company.createdAt, 'd MMMM yyyy')}">temporals.format(company.createdAt, "dd MM yyyy")</strong></span>
                    </div>
                    <h1 class="text-white"><a style="text-decoration-line: none!important"
                                              th:href="@{'/companies/' + ${company.id}}">[[${company.name}]]</a></h1>
                </div>
            </div>
    </section>

    <section class="site-section">
        <div class="container">
            <div th:if="${company.isClosed()}" class="row align-items-center mb-5">
                <h3 class="h5 d-flex align-items-center mb-4 text-primary" style="color: darkblue!important">Компания
                    завершена</h3>
            </div>

            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div class="border p-2 d-inline-block mr-3 rounded">
                            <img class="companyImg" th:src="@{${company.imgUrl}}" alt="Image">
                        </div>
                    </div>
                </div>
                <div th:if="${!company.isClosed()}" class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <a id="donateBtn" class="btn btn-block btn-light btn-md"><span
                                    class="icon-credit-card mr-2 text-danger"></span>Помочь</a>
                        </div>
                        <div class="col-6">
                            <a id="joinBtn" class="btn btn-block btn-primary btn-md"
                               style="color: white">Присоединиться</a>
                        </div>
                    </div>
                </div>
            </div>


            <div id="joinPanel" class="row justify-content-end">
                <div sec:authorize="!isAuthenticated()" class="col-lg-8 justify-content-end">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary" style="color: darkblue!important">Войдите
                        или зарегистрируйтесь</h3>
                </div>
                <div sec:authorize="isAuthenticated()" class="col-lg-8 justify-content-end">
                    <div class="row justify-content-end">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <button id="joinRequestBtn" class="btn btn-block btn-light btn-md"
                                    th:onclick="'sendJoinRequest(\'' + ${company.id} + '\', \'' + ${#authentication.principal.id} + '\')'">
                                Присоединиться
                            </button>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <button id="quitRequestBtn" class="btn btn-block btn-light btn-md"
                                    th:onclick="'sendQuitRequest(\'' + ${company.id} + '\', \'' + ${#authentication.principal.id} + '\')'">
                                Выйти
                            </button>
                        </div>
                    </div>
                    <div id="joinMsg" class="justify-content-end">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary">Ответ</h3>
                    </div>
                </div>
            </div>

            <div id="donatePanel" class="row justify-content-end">
                <div class="col-lg-8 justify-content-end">
                    <div class="row justify-content-end">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <input id="donateAmount" type="number" min="1" class="form-control form-control-lg"
                                   placeholder="1">
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <button id="sendDonateBtn" class="btn btn-block btn-light btn-md"
                                    th:onclick="'sendDonate(\'' + ${company.id} + '\')'">
                                <span class="icon-dollar icon mr-2"></span>Перечислить
                            </button>
                        </div>
                    </div>
                    <div id="donateMsg" class="justify-content-end">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary">Благодарности</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                                class="icon-align-left mr-3"></span>Описание проекта</h3>
                        <p th:text="${company.description}">Lorem ipsum dolor sit amet</p>
                    </div>

                    <div class="row mb-5 justify-content-end">
                        <div class="col-4">
                            <a th:if="${!company.isClosed()}" href="#" th:href="@{'/request/' + ${company.id}}"
                               class="btn btn-block btn-primary btn-md">Возьмите мою подпись</a>
                            <a th:if="${company.isClosed()}"
                               class="btn btn-block btn-primary btn-md">Возьмите мою подпись</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="bg-light p-3 border rounded mb-4">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Компания</h3>
                        <ul class="list-unstyled pl-3 mb-0">
                            <li class="mb-2"><strong class="text-black">Инициатор:</strong> [[${company.owner.login}]]
                            </li>
                            <li class="mb-2"><strong class="text-black">Начало:</strong>
                                [[${#temporals.format(company.createdAt, 'd MMMM yyyy')}]]
                            </li>
                            <li class="mb-2"><strong class="text-black">Окончание:</strong>
                                [[${#temporals.format(company.endDate, 'd MMMM yyyy')}]]
                            </li>
                            <li sec:authorize="isAuthenticated()"
                                th:if="${#authentication.principal.id} == ${company.owner.id}"
                                class="mb-2">
                                <a href="#" th:href="@{'/companies/' + ${company.id} + '/edit'}" style="color: red">Изменить</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--    только для участников компании-->
    <section sec:authorize="isAuthenticated()" class="site-section" id="next">
        <div id="requestContainer" class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Поданные заявки</h2>
                    <div class="validationError" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                </div>
            </div>

            <div id="requests" class="mb-5">
                <div th:each="request: ${activeRequests}"
                     class="row align-items-center job-item border-bottom pb-3 mb-3 pt-3">
                    <div class="col-md-2">
                        <img align="center" width="50" height="50" th:src="@{/images/request.jpg}" alt="Image"
                             class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <h5>[[${request.contact.streetAddress}]]</h5>
                        <p class="meta"><strong>[[${request.contact.city}]]</strong></p>
                    </div>
                    <div class="col-md-4">
                        <p class="meta"><span class="icon-room"></span>[[${request.contact.region}]] область,
                            [[${request.contact.district}]] район</p>
                    </div>
                    <div class="col-md-2 text-md-right">
                        <p><a href="#" th:href="@{'/request/take/' + ${request.id}}" class="meta">Обработать</a></p>
                    </div>
                </div>
            </div>

            <div th:if="${pageNumbers.size() > 0}" class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        <div id="pages" class="d-inline-block">
                            <span th:each="pageNumber: ${pageNumbers}"
                                  th:text="${pageNumber}"
                                  th:data-page="${pageNumber}"
                                  th:onclick="'loadRequests(\'' + ${company.id} + '\', \'' + ${pageNumber} + '\', \'' + ${pageNumbers.size()} + '\');' "
                                  th:class="ajaxLink"
                                  th:classappend="${pageNumber== 1} ? currentLink">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- FOOTER -->
    <div th:replace="baseFragment::footer"></div>

</div>

<!-- SCRIPTS -->
<div th:replace="baseFragment::scripts"></div>
<script th:src="@{/js/singleCompanyFunctions.js}"></script>

</body>
</html>