<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>The Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" th:href="@{/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/fonts/line-icons/style.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body id="top">

<!--<div id="overlayer"></div>-->
<!--<div class="loader">-->
<!--    <div class="spinner-border text-primary" role="status">-->
<!--        <span class="sr-only">Loading...</span>-->
<!--    </div>-->
<!--</div>-->


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <div th:replace="baseFragment::header"></div>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             th:style="'background-image: url(' + @{/images/start.jpg} + ');'"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold" th:text="${company.name}">Product Designer</h1>
                    <div class="custom-breadcrumbs">
                        <a th:href="@{/}">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Company</strong></span><span class="mx-2 slash">/</span>
                        <span class="text-white"><strong th:text="${company.id}"></strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div class="border p-2 d-inline-block mr-3 rounded">
                            <img class="companyImg" th:src="@{${company.imgUrl}}" alt="Image">
                        </div>
                        <div>
                            <h2 th:text="${company.name}">Company name</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <a id="donateBtn" class="btn btn-block btn-light btn-md"><span
                                    class="icon-credit-card mr-2 text-danger"></span>Помочь</a>
                        </div>
                        <div class="col-6">
                            <a id="joinBtn" class="btn btn-block btn-primary btn-md">Присоединиться</a>
                        </div>
                    </div>
                </div>
            </div>


            <div id="joinPanel" class="row justify-content-end">
                <div sec:authorize="!isAuthenticated()" class="col-lg-8 justify-content-end">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary">Войдите или зарегистрируйтесь</h3>
                </div>
                <div sec:authorize="isAuthenticated()" class="col-lg-8 justify-content-end">
                    <div class="row justify-content-end">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <button id="joinRequestBtn" class="btn btn-block btn-light btn-md"
                                    th:onclick="'sendJoinRequest(\'' + ${company.id} + '\', \'' + ${#authentication.principal.id} + '\')'">
                                <span class="icon-dollar icon mr-2"></span>Присоединиться
                            </button>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <button id="quitRequestBtn" class="btn btn-block btn-light btn-md"
                                    th:onclick="'sendQuitRequest(\'' + ${company.id} + '\', \'' + ${#authentication.principal.id} + '\')'">
                                <span class="icon-dollar icon mr-2"></span>Выйти из компании
                            </button>
                        </div>
                    </div>
                    <div id="joinMsg" class="justify-content-end">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary">Ответ</h3>
                    </div>
                </div>
            </div>


            <div id="donatePanel" class="row justify-content-end">
                <div class="col-lg-8 justify-content-end">
                    <!--                    <div id="donate" class="row justify-content-end">-->
                    <div class="row justify-content-end">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <input id="donateAmount" type="number" min="1" class="form-control form-control-lg"
                                   placeholder="1">
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <button id="sendDonateBtn" class="btn btn-block btn-light btn-md"
                                    th:onclick="'sendDonate(\'' + ${company.id} + '\')'">
                                <span class="icon-dollar icon mr-2"></span>Перечислить
                            </button>
                        </div>
                    </div>
                    <div id="donateMsg" class="justify-content-end">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary">Благодарности</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                                class="icon-align-left mr-3"></span>Описание проекта</h3>
                        <p th:text="${company.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Debitis illum fuga eveniet.
                            Deleniti asperiores, commodi quae ipsum quas est itaque, ipsa, dolore beatae voluptates nemo
                            blanditiis iste eius officia minus.</p>
                    </div>

                    <div class="row mb-5 justify-content-end">
                        <div sec:authorize="isAuthenticated()" class="col-4">
                            <a href="#" th:href="@{'/companies/' + ${company.id} + '/edit'}"
                               class="btn btn-block btn-light btn-md">Изменить</a>
                        </div>
                        <div class="col-4">
                            <a href="#" th:href="@{'/request/' + ${company.id}}"
                               class="btn btn-block btn-primary btn-md">Возьмите мою подпись</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="bg-light p-3 border rounded mb-4">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Компания</h3>
                        <ul class="list-unstyled pl-3 mb-0">
                            <li class="mb-2"><strong class="text-black">Начало:</strong> April 14, 2019</li>
                            <li class="mb-2"><strong class="text-black">Инициатор:</strong> 20</li>
                            <li class="mb-2"><strong class="text-black">Employment Status:</strong> Full-time</li>
                            <li class="mb-2"><strong class="text-black">Окончание:</strong> April 28, 2019
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--    только для участников компании-->
    <section sec:authorize="isAuthenticated()" class="site-section" id="next">
        <div id="requestContainer" class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Поданные заявки</h2>
                </div>
            </div>

            <ul id="requests" class="job-listings mb-5">
                <li th:each="request: ${activeRequests}"
                    class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                        <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                            <h2>[[${request.contact.city}]], [[${request.contact.streetAddress}]]</h2>
                        </div>
                        <div class="job-listing-location mb-3 mb-sm-0 custom-width w-30">
                            <span class="icon-room"></span>[[${request.contact.region}]] область,
                            [[${request.contact.district}]] район
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge badge-success link">Обработать</span>
                        </div>
                    </div>
                </li>
            </ul>

            <div th:if="${pageNumbers.size() > 0}" class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        <div id="pages" class="d-inline-block">
                            <span th:each="pageNumber: ${pageNumbers}"
                                  th:text="${pageNumber}"
                                  th:data-page="${pageNumber}"
                                  th:onclick="'loadRequests(\'' + ${company.id} + '\', \'' + ${pageNumber} + '\', \'' + ${pageNumbers.size()} + '\');' "
                                  th:class="ajaxLink"
                                  th:classappend="${pageNumber== 1} ? currentLink">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- FOOTER -->
    <div th:replace="baseFragment::footer"></div>

</div>

<!-- SCRIPTS -->
<div th:replace="baseFragment::scripts"></div>
<script th:src="@{/js/singleCompanyFunctions.js}"></script>

</body>
</html>